.cards-page h1 {
  text-align: center;
  margin-top: 5%;
}

.content-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #242424; /* Темно-сірий контейнер */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 14px; /* Відступ між формою та таблицею */
}

.input-field {
  background-color: #2A2A2A; /* Трохи світліший сірий для полів */
  color: white;
  padding: 14px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  width: 100%; /* Займає всю ширину контейнера */
  box-sizing: border-box;
}

.form-container input {
  background-color: #2A2A2A; /* Трохи світліший сірий для полів */
  color: white;
  padding: 14px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
}

.form-container button {
  margin-top: 14px;
}

.add-card-button {
  
  background-color: #606C38; /* Оливковий колір для кнопок */
  color: white;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  width: 100%; /* Займає всю ширину контейнера */
  cursor: pointer;
  box-sizing: border-box;
}


.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  max-width: 34px;
  max-height: 34px;
  cursor: pointer;
  
}

.form-container button:hover {
  background-color: #6b7b41; /* Світліший оливковий при наведенні */
}

.form-container button:active {
  background-color: #4a542c; /* Темніший оливковий при натисканні */
}



